<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
    <h1>Basketball Team! </h1>
    <h1>    Team Name: <%=  @name.capitalize %> </h1>
    <h1>    Coach: <%=  @coach.capitalize  %> </h1>
    <h1>    Point Guard: <%=  @pg.capitalize  %> </h1>
    <h1>    Shooting Guard: <%=  @sg.capitalize  %> </h1>
    <h1>    Small Forward: <%=  @sf.capitalize  %></h1>
    <h1>     Power Forward: <%=  @pf.capitalize %> </h1>
    <h1>   Center: <%=  @c.capitalize  %> </h1>
 </body>
</html>


